FUJI_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
SNOWTRACE_KEY=

MUMBAI_RPC_URL=https://matic-mumbai.chainstacklabs.com
POLYGONSCAN_KEY=

GOERLI_RPC_URL=https://goerli.infura.io/v3/
ETHERSCAN_KEY=

PRIVATE_KEY=